@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration: none;
    color: black;
}

body{
    font-family: "Roboto", sans-serif;
}

.outer_header{
    width: 100%;
    position: sticky;
    top: 0px;
    background-color: white;
    box-shadow: 0px 1px 4px 0px dimgray;
    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: space-between;
    padding: 20px 70px;
    box-sizing: border-box;
}

.logo img{
    width: 55px;
}

.outer_menu ul{
    display: flex;
    gap: 40px;
    list-style: none;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 14px;
    margin-left: 60px;
    margin-right: 200px;
}
.outer_search{
    display: flex;
    background: #0066CA;
    padding: 5px 15px;
    flex-grow: 1;
    align-items: center;
}
.header_right{
    display: flex;
    gap: 15px;
}
.serach_icon{
    flex-basis: 30px;
    color: white;
}
.search_box{
    flex-grow: 1;
}
.search_box input{
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border-radius: 5px;
    outline: none;
    border: 0px;
}

.search_box input:focus{
    /* outline: none; */
}
.header_right{
    text-align: center;
}
.header_right_text{
    font-size: 14px;
    font-weight: bold;
    padding-top: 3px;
}

.outer_flat{
    width: 100%;
    padding: 15px 50px;
    box-sizing: border-box;
}
.outer_flat img{
    width: 100%;
}
.outer_slider{
    width: 100%;
    padding: 0px 50px;
    box-sizing: border-box;
    display: flex;
}
.outer_slider img{
    width: 100%;
}
.outer_offer{
    padding-top: 0px;
}
.outer_budget_bargans{
    width: 100%;
    padding: 0px 50px;
    box-sizing: border-box;
}
.budget_banner img{
    width: 100%;
}

.budget_innner{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.budget{
    flex-grow: 1;
}
.budget img{
    width: 100%;
}

.category{
    width: 16.66%;
}

.bell_icon{
    background: #683AE4;
    font-size: 38px;
    color: white;
    display: inline-block;
    padding: 7px 10px;
    border-radius: 50%;
    position: fixed;
    bottom: 30px;
    right: 30px;
}